<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To Do tasks</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">

  <style>
    body {
         background: rgb(54,217,182);
         background: linear-gradient(90deg, rgba(54,217,182,1) 0%, rgba(32,152,126,1) 43%,
                     rgba(0,212,255,1) 100%);
         font-family: 'Nunito', sans-serif;
         padding-top: 10px;
    }

    .container{
          max-width:600px;
          margin: auto;
          background-color: #917FF1;
          -webkit-box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
          box-shadow: 2px 2px 13px -4px rgba(0,0,0,0.21);
    }
  </style>
</head>
<body>
<header>
    <h3 align="left"><a href="{% url 'main_page' %}"> <img src="{% static "images/logo.png" %}" alt="logo"/></a> |
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">{{user.get_full_name}}</a>
        {% endif %}
    </h3>
</header>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
<footer>
    <h3 align="left"><a href="{% url 'main_page' %}"> <img src="{% static "images/logo.png" %}" alt="logo"/></a> |
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}">{{user.get_full_name}}</a>
        {% endif %}
    </h3>

    <h3 align="center">
        <a href="">Github</a>
        <a href="">Instagram</a>
        <a href="">LinkedIn</a>
    </h3>
</footer>
</body>
</html>
